* @KyryloKupin

/.github/ @KyryloKupin
/action.yml @KyryloKupin
/src/ @KyryloKupin
/dist/ @KyryloKupin
/package.json @KyryloKupin
/package-lock.json @KyryloKupin
/LICENSE @KyryloKupin
/SECURITY.md @KyryloKupin
